@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap");
*,
:after,
:before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-size: 36px;
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

body {
  font-family: "PT Sans Caption", sans-serif;
  font-size: 1rem;
  color: #364844;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
}

.button {
  cursor: pointer;
  width: 196px;
  height: 43px;
  background-color: #0dbc91;
  color: #fff;
  border: none;
  border-radius: 50px;
  transition: all 500ms ease;
}
.button:hover {
  background: rgba(0, 0, 0, 0);
  color: #0dbc91;
  box-shadow: inset 0 0 0 3px #0dbc91;
}
.button_second {
  background-color: inherit;
  color: #0dbc91;
  border: solid #0dbc91 2px;
}
.button_mobile {
  margin-left: 19px;
  background-color: #ffffff;
  color: #0dbc91;
  border: solid #0dbc91 2px;
}
.button_mobile:hover {
  background: rgba(0, 0, 0, 0);
  color: #ffffff;
  box-shadow: inset 0 0 0 3px #0dbc91;
}
.button_mauto {
  margin: 0 auto;
}

.page_overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(69, 146, 127, 0.9);
  z-index: 2000;
}
.page_overlay_show {
  display: block;
}

.overflow {
  overflow: hidden;
}

.header {
  width: 100%;
  height: 67px;
}
.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 67px;
}
.header_content_left {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header_content_right {
  display: flex;
  justify-content: space-between;
  width: 406px;
}
.header_content_right_phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 173px;
  text-align: right;
}
.header_content_right_phone a {
  font-size: 16px;
  color: #364844;
}
.header_content_right_phone img {
  width: 28px;
  height: 28px;
}
.header_content_right_phone span {
  font-size: 13px;
}
.header_hamburger_menu {
  display: none;
  width: 45px;
  height: 35px;
  position: relative;
  z-index: 1000;
  overflow: hidden;
}
.header_hamburger_menu span {
  width: 40px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1fa181;
  border-radius: 5px;
  transition: all 0.6s;
  z-index: 1000;
}
.header_hamburger_menu span:nth-of-type(2) {
  top: calc(50% - 7px);
}
.header_hamburger_menu span:nth-of-type(3) {
  top: calc(50% + 7px);
}
.header_hamburger_menu.active span:nth-of-type(1) {
  display: none;
}
.header_hamburger_menu.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}
.header_hamburger_menu.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}
.header .number {
  display: none;
}

.address {
  position: relative;
  width: 110px;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
}
.address:before {
  content: url("./assets/img/placeholder.png");
  position: absolute;
  left: -20px;
  top: 0px;
  width: 100px;
}

.navigation {
  height: 43px;
  background-color: #1fa181;
}
.navigation nav {
  display: block;
  height: 43px;
}
.navigation_list {
  padding-top: 10px;
}
.navigation_item {
  display: inline-block;
  margin-right: 30px;
  transition: all 200ms ease;
}
.navigation_item a {
  font-size: 16px;
  color: #fff;
}
.navigation_item:hover {
  color: #ffa000; /* Меняем цвет текста */
  -webkit-text-shadow: 2px 2px 2px #373535;
  -moz-text-shadow: 2px 2px 2px #373535;
  text-shadow: 2px 2px 2px #373535;
}

.main {
  height: 533px;
  background-color: #f8fbfa;
  background-image: url("assets/img/holl_clinic.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: auto;
}
.main_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main_text {
  display: flex;
  height: 533px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #364844;
}
.main_text_title {
  width: 390px;
  font-weight: 700;
  font-size: 26px;
  line-height: 47px;
}
.main_text_descr {
  margin-top: 20px;
  width: 367px;
  font-weight: 400;
  font-size: 16px;
}
.main_img {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.main_img img {
  width: 100%;
  height: 400px;
  object-fit: fill;
}

.carousel {
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.carousel_card {
  width: 100%;
  height: 440px;
  display: grid;
  grid-template-columns: 448px 692px;
  background-color: #e2f0ef;
}
.carousel_card_descr {
  margin-left: 54px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: #364844;
  width: 430px;
}
.carousel_card_descr_title {
  font-weight: 700;
  font-size: 38px;
  line-height: 49px;
  text-transform: uppercase;
}
.carousel_card_descr_subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
}
.carousel_card_descr_li {
  position: relative;
  margin-left: 16px;
  margin-top: 10px;
  font-size: 16px;
}
.carousel_card_descr_li:before {
  content: "";
  display: inline-block;
  top: 6px;
  left: -15px;
  position: absolute;
  background: #1fa181;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}
.carousel_card_descr_price {
  margin-top: 33px;
}
.carousel_card_descr_price :nth-child(2) {
  margin-left: 5px;
}
.carousel_card_descr_price :nth-child(3) {
  margin-left: 5px;
  text-decoration: line-through;
  color: #868686;
}
.carousel_card_descr_buttons {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
}
.carousel_card_img {
  position: relative;
}
.carousel_card_img img {
  width: 100%;
  height: 100%;
}
.carousel_card_img:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 135px solid #e2f0ef;
  border-top: 422px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 20px solid #e2f0ef;
  position: absolute;
  bottom: 0px;
  left: 0;
}
.carousel_navi {
  margin: 36px auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 169px;
}
.carousel_navi_count {
  color: #c0c0c0;
}
.carousel_navi_count :nth-child(1) {
  color: #364844;
}
.carousel_navi_prev, .carousel_navi_next {
  cursor: pointer;
}
.carousel_navi_prev svg, .carousel_navi_next svg {
  fill: #e1e1e1;
}
.carousel_navi_prev svg:hover, .carousel_navi_next svg:hover {
  fill: #364844;
}

.footer {
  height: 144px;
  background-color: #08664f;
}
.footer_content {
  display: flex;
  height: 144px;
  justify-content: space-between;
  align-items: center;
  align-content: baseline;
}
.footer_content_social {
  width: 135px;
  display: flex;
  justify-content: space-between;
}

.modal {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 382px;
  max-width: 100%;
  min-height: 402px;
  background: #f2f2f2;
  border-radius: 10px;
  padding: 38px 40px 40px 40px;
  transition: 0.5s all;
}
.modal_close {
  position: absolute;
  top: 0;
  right: -40px;
  font-size: 40px;
  line-height: 21px;
  color: #364844;
  cursor: pointer;
}
.modal_title {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  color: #0d0d0d;
}
.modal_subtitle {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: #0d0d0d;
}
.modal_mini {
  min-height: 140px;
}
.modal_show {
  display: block;
}
.modal .error_Label {
  font-size: 12px;
  color: red;
}

.feed-form {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 25px;
}
.feed-form_input-box {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}
.feed-form_input-box input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background: #ffffff;
  border: none;
  padding: 0 20px;
  font-weight: 300;
  font-size: 14px;
}

.mobile_menu {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 0.6s;
  z-index: 500;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}
.mobile_menu .mobile_menu_bg {
  height: 100%;
  width: 100%;
  background-color: rgba(69, 146, 127, 0.9);
  display: flex;
  flex-direction: column;
}
.mobile_menu .sidemenu {
  display: flex;
  flex-direction: column;
  padding-top: 48px;
}
.mobile_menu .sidemenu_list li {
  padding: 0 0 10px 20px;
  text-align: left;
}
.mobile_menu .sidemenu_list li a {
  display: inline-block;
  font-weight: 400;
  line-height: 28px;
  width: 100%;
  color: #fff;
  transition: all 2s ease-in;
}
.mobile_menu .sidemenu_list li a:hover {
  text-decoration: 3px underline;
}

.mobile_menu.active {
  transform: translateX(0);
}

@media screen and (max-width: 1490px) {
  .main {
    background-image: none;
  }
  .main_img {
    display: flex;
  }
}
@media screen and (max-width: 1220px) {
  .carousel {
    display: none;
  }
}
@media screen and (max-width: 1020px) {
  .main {
    height: 450px;
  }
  .main_grid {
    height: 450px;
  }
  .main_img img {
    height: 300px;
  }
}
@media screen and (max-width: 980px) {
  .footer nav {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .header_hamburger_menu {
    display: block;
  }
  .header_content_right {
    display: none;
  }
  .header_content_left {
    width: 100px;
  }
  .header .address {
    display: none;
  }
  .header .number {
    display: block;
    width: 138px;
  }
  .header .number a {
    font-weight: 700;
  }
  .main {
    height: 600px;
    background-image: none;
  }
  .main .container {
    width: 100%;
  }
  .main_grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
  }
  .main_text {
    height: 100%;
    grid-row: 2;
    align-items: center;
  }
  .main_img {
    grid-row: 1;
  }
  .main_img img {
    height: 300px;
  }
  .carousel {
    display: none;
  }
  .navigation {
    display: none;
  }
  .modal {
    width: 300px;
  }
  .modal_close {
    position: absolute;
    top: 10px;
    right: 15px;
  }
  .feed-form {
    width: 220px;
  }
}
@media screen and (max-width: 400px) {
  .main {
    height: 500px;
  }
  .main_img img {
    height: 280px;
  }
  .main_text {
    margin-left: 17px;
    align-items: flex-start;
  }
  .main_text_title {
    line-height: 33px;
    width: 267px;
  }
  .main_text_title h1 {
    font-size: 26px;
  }
  .main_text_descr {
    font-size: 16px;
  }
}